<div class="container-fluid" style="padding-top:80px; padding-bottom: 60px; background-color:#F3F5F7;">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="my-5 mx-4 px-4 pb-3" style="border-bottom: 1.5px solid #616F7C;">
        管理者ページ
      </h4>
    </div>
    
    <div class="col-md-11 col-11 mx-auto mb-4">
      <h5 class="">
        <i class="fas fa-shield-alt fa-lg fa-fw mr-3"></i>
        管理者ログイン
      </h5>
    </div>
    
    <div class="col-lg-10 col-md-10 col-sm-10 col-11 mx-auto mb-5 px-0">
      <%= form_with model: @admin, url: admin_session_path, class: "form-horaizontal" do |f| %>
        <div class="row input-group-sm d-flex align-items-center">
          <label class="label-control col-lg-3 col-md-3 col-10 mb-3 px-0">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "col-lg-5 col-md-6 col-10 form-control mb-3"  %>
        </div>
        
        <div class="row input-group-sm d-flex align-items-center">
          <label class="label-control col-lg-3 col-md-3 col-10 mb-3 px-0">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password",
          class: "col-lg-3 col-md-4 col-10 form-control mb-3"  %>
        </div>
        
        <div class="row input-group-sm d-flex align-items-center">
          <label class="label-control col-lg-3 col-md-3"></label>
          <%= f.submit "ログイン", class: "btn btn-main px-5 my-4"  %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>

