@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #42455A;
}

#e-text {
  font-family: 'Raleway', sans-serif;
}

.container-fluid {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a, a:hover, a:active {
  color: #42455A;
  text-decoration: none;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header a {
  color: #FFFFFF;
}

header a:hover {
  color: #000000;
  text-decoration: none;
}

.fa-lg{
  color: #8B9FB2;
}

.card{
  max-width: 980px;
  border-radius: 6px;
}

.card-normal {
  background-color: #FAF8F8;
  .text-main{
    color: #8B9FB2;
  }
}

.card-main {
  background-color: #8B9FB2;
  color: #FFFFFF;
}

.card-accent {
  background-color: #CFB96C;
  border-color: #CFB96C;
  color: #FFFFFF;
  p {
    color: #FFFFFF;
  }
}

.card-pale {
  background-color: #988F90;
  border-color: #988F90;
  color: #FFFFFF;
  p {
    color: #FFFFFF;
  }
}

.card-info {
  background-color: #42455A;
  border-color: #42455A;
  color: #FFFFFF;
  p {
    color: #FFFFFF;
  }
}


.btn-accent {
  background-color: #CFB96C;
  border-color:  #CFB96C;
  color: #FFFFFF;
}

.btn-accent:hover {
  background-color: #DDCBB9;
  border-color:  #DDCBB9;
  color: #FFFFFF;
}

.btn-accent:active {
  background-color: #DDCBB9;
  border-color:  #DDCBB9;
  color: #FFFFFF;
}


.btn-main{
  background-color: #8B9FB2;
  border-color:  #8B9FB2;
  color: #FFFFFF;
}

.btn-main:hover {
  background-color: #A2B2C2;
  border-color:  #A2B2C2;
  color: #FFFFFF;
}

.btn-main:active {
  background-color: #A2B2C2;
  border-color:  #A2B2C2;
  color: #FFFFFF;
}

