<div class="container">
  <div class="row">
    <div class="col-12">
      <h4 class="my-5">本をさがす</h4>
    </div>
    
    <div class="col-10 mx-auto  text-top">
      <h4 class="mb-4">すべての本　<small>(全<%= @books.count %>件)</small></h4>
      <% @books.each do |book| %>
        <div class="col-3 d-inline-block text-top">
          <div class="border" style="width: 150px; height: 200px;"></div>
          <p class="mt-3 mb-1"><strong><%= book.name %></strong></p>
          <p><%= book.author %></p>
        </div>
      <% end %>
    </div>    
  </div>
</div>