<div class="container-fluid public">
  <div class="row">
    <div class="col-12 mx-auto">
      <h4 class="heading my-5 mx-4 px-4 pb-3">
        マイページ
      </h4>
    </div>

    <div class="col-11 mx-auto mb-4">
      <h5>
        <i class="fas fa-user-slash fa-lg fa-fw mr-3"></i>
        退会する
      </h5>
    </div>

    <div class="col-11 mx-auto my-5">
      <div class="confirm-container">
        <p><strong>退会すると、新しい本の登録やコメント投稿ができなくなります。</strong></p>
        <p><strong>本当に退会しますか?</strong></p>
        <%= link_to 'マイページに戻る', users_mypage_path, class: "btn btn-main px-4 mx-3 mt-4" %>
        <%= link_to '本当に退会する', users_withdraw_path, method: :patch,
        data: {confirm: "本当に退会しますか？"}, class: "btn btn-danger px-5 mx-3 mt-4" %>
      </div>
    </div>
  </div>
</div>
